* {
    font-family: "Roboto", sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #192f37;
    padding-bottom: 139px;
    padding-top: 6px;
}

.main{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.secondary {
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 300;
    margin-top: -7px;
}

.logo, .call {
    font-size: 24px;
    font-weight: 600;
}

.secondary, button, .action {
    color: #e5e7eb;
}

.logo-links, .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 207px;
    padding-right: 207px;
}

.hero {
    margin-top: 100px;
}

.hero-image {
    width: 530px;
    height: 240px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 420px;
}

button {
    padding: 9px 35px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
}

button, .modal {
    background-color: #3882f6;
    border-style: none;
}

.mid {
    padding: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.mid .info{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-bottom: 40px;
}

.container-two {
    display: flex;
    justify-content: center;
    width: 700px;
    gap: 50px;
}

.card-img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.mid-two {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 120px 305px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937
}

.speaker {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    text-align: right;
    margin-right: 20px;
    color: #1f2937
}

.end {
    display: flex;
    padding: 100px 200px;
    justify-content: center;
}

.modal {
    display: flex;
    padding: 55px 130px;
    gap: 170px;
    border-radius: 8px;
}

.sign-up {
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    margin-bottom: 8px;
    border-width: 2px;
}

.text {
    font-weight: 100;
    margin-top: 3px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    font-size: 18px;
    padding: 45px;
}

